<section class="bg-gray-200 shadow p-5 my-5 md:w-1/2 m-auto">
    <div class="w-[95%] mx-auto">
        @if (step === 1) {
        <form [formGroup]="forgotPassword" (ngSubmit)="submitFormForget()">
            <app-input [control]="forgotPassword.get('email')" [idInput]="'email'" [labelInput]="'Email'"
                [typeInput]="'email'"></app-input>
            <button class="btn">Verify Email</button>
        </form>
        }
        @else if (step === 2) {
        <form [formGroup]="verifyCode" (ngSubmit)="submitFormCode()">
            <app-input [control]="verifyCode.get('resetCode')" [idInput]="'resetCode'" [labelInput]="'Reset Code'"
                [typeInput]="'text'"></app-input>
            <button class="btn">Verify Code</button>
        </form>
        }
        @else if (step === 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="submitFormReset()">
            <app-input [control]="resetPassword.get('email')" [idInput]="'email'" [labelInput]="'Email'"
                [typeInput]="'email'"></app-input>
            <app-input [control]="resetPassword.get('newPassword')" [idInput]="'newPassword'"
                [labelInput]="'New Password'">
                Please enter a valid password.
            </app-input>
            <button class="btn">Reset Password</button>
        </form>
        }

    </div>
</section>