<owl-carousel-o [options]="mainOptions">
    <ng-template carouselSlide>
        <div class="md:flex justify-between my-2">
            <div>
                <img src="/images/ms-1.avif" alt="ms-1" class="w-full md:w-1/2 h-[200px]" />
            </div>
            <div>
                <img src="/images/ms-4.avif" alt="ms-4" class="w-full md:w-1/2 h-[200px]" />
            </div>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="md:flex justify-between my-2">
            <div>
                <img src="/images/ms-2.avif" alt="ms-2" class="w-full md:w-1/2 h-[200px]" />
            </div>
            <div>
                <img src="/images/ms-3.avif" alt="ms-3" class="w-full md:w-1/2 h-[200px]" />
            </div>
        </div>
    </ng-template>
</owl-carousel-o>