@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

:root {
    font-family: "Encode Sans Expanded", sans-serif;
}

// @utility .container {
//   margin-inline: auto;
// }

@layer components {
    .btn {
        @apply disabled:bg-gray-500 disabled:cursor-not-allowed text-blue-600 py-2 rounded-full w-full border border-blue-600 cursor-pointer hover:bg-blue-600 hover:text-white transition-all duration-300;
    }

    .input-style {
        @apply block py-2.5 px-0 w-full text-sm text-blue-900 bg-transparent border-0 border-b-2 border-blue-300 appearance-none dark:text-white dark:border-blue-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
    }

    .label-style {
        @apply peer-focus:font-medium absolute text-sm text-blue-500 dark:text-blue-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
    }
}

.owl-theme .owl-nav [class*=owl-] {
    background-color: #059669 !important;
}